html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #fdfaf3;
	background-color: #869f91;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;	
}

.button {
	color: #fefefe;
	background-color: #f16442;
	border-radius: 18px;
	cursor: pointer;
}

.main-navigation {
	display: flex;
	align-items: flex-start;
	padding-top: 10px;	
}

.main-header-logo {	
	margin-right: 22px;	
}

.main-header-logo img {
	border-style: none;
	vertical-align: top;
	max-width: 100%;
}


.site-navigation {
	display: flex;
	flex-wrap: wrap;	
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 600px;
	padding-top: 14px;
	
}

.site-navigation li {
	list-style: none;
	position: relative;
}

.site-navigation  a {
	color: #ffffff;
	display: block;
	padding: 7px 14px;
}

.site-navigation > li:hover > a {
	background-color: #f7f6f3;
	color: #333333;
	border-radius: 14px;
}

.site-navigation li:hover .catalog-navigation  {
	background-color: #f8f7f4;
	border-radius: 3px;	
}

.site-navigation li:hover .site-navigation-style {
	display: block;
}

.site-navigation-style {	
	position: absolute;
	left: -7px;
	top: 100%;
	padding-top: 7px;
	width: 142px;	
	display: none;
	z-index: 10;
}


.catalog-navigation {	
	margin: 0;
	padding: 0 0 8px;
}

.catalog-navigation a {
	padding: 6px 20px;	
}

.catalog-navigation li a {	
	color: #323232;
}

.catalog-navigation li {
	margin: 0;
	padding: 0;
	line-height: 16px;
	font-size: 14px;
	text-align: left;
	/*padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 20px;*/
	font-weight: 400;
}

.catalog-navigation li:last-child {
	margin-bottom: 0;
}


.catalog-navigation li:hover {
	background-color: #fbded7;
}

.catalog-novelties {
	/*padding-bottom: 14px;
	border-bottom: 1px solid #d1d0ce;	
	width: 144px;*/
}

.catalog-navigation .catalog-novelties {
	padding: 4px 0 7px;
	margin-bottom: 3px;
}

.catalog-navigation .catalog-novelties::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 6px;
	right: 9px;
	height: 1px;
	background-color: #ccc;
}

.catalog-novelties a {
	font-weight: 700;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;	
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;
	max-width: 300px;
	padding-top: 14px;
}

.user-navigation a {
	color: #ffffff;
	display: block;
}

.user-navigation li:not(:last-child) {
	margin-right: 11px;	
}

.search {
	position: relative;
}

.search-icon {
	margin: 0;	
	padding: 0;	
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.search-icon a {
	width: 32px;
	height: 32px;
	padding: 7px;
}

.search-icon a::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;	
	background-image: url("../img/icon-loupe.svg");
	background-repeat: no-repeat;
	/*position: relative;
	top: 1px;
	left: -1px;*/
}

.search:hover .header-popup {	
	display: block;
	width: 340px;
	padding: 20px 12px;
	background-color: #f8f7f4;
	border-radius: 3px;	
}

.search-style {
	position: absolute;
	right: 0px;
	top: 100%;
	padding-top: 5px;
}

.search .header-popup input {
	width: 310px;
}

.profile {
	position: relative;
}

.profile-icon a {
	display: flex;	
	align-items: center;
	padding: 5px 16px 6px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.profile-icon {
	margin: 0;	
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;	
}

.profile-icon a::before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url("../img/icon-entrance.svg");
	background-repeat: no-repeat;	
	margin-right: 8px;	
}

.search-icon .button,
.profile-icon .button,
.cart-icon .button {
	background-color: transparent;
}

.profile:hover .header-popup {
	display: block;	
	background-color: #f8f7f4;
	border-radius: 3px;
	width: 278px;
	padding: 20px;	
}

.profile-style {
	position: absolute;	
	right: 0px;
	top: 100%;
	padding-top: 5px;
	z-index: 10;
}

.profile .header-popup input {
	
	padding: 10px 13px;
	width: 100%;
}

.form-profile label {
	display: block;
	margin-bottom: 20px;
}

.profile-support {
	width: 122px;
	margin: 0;
	line-height: 24px;
	font-size: 13px;
	font-weight: 400;
}

.profile-support a {
	color: #323232;
	text-decoration: underline;
}

.profile-popup-wrapper {
	display: flex;
	justify-content: space-between;
}

.profile-popup-wrapper .button {
	padding: 12px 25px;
	border: none;
}


.cart-icon {	
	margin: 0;		
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.cart-icon a {
	display: flex;
	align-items: center;
	padding: 5px 16px 6px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.cart-icon a::before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url("../img/icon-cart-2.svg");
	background-repeat: no-repeat;	
	margin-right: 8px;	
}

.working-information {	
	text-align: right;
}

.working-information p {
	margin: 0;
}

.header-popup {
	display: none;
}

.working-hours {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;	
	padding-bottom: 8px;
}

.working-number {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;	
}

.production-slider {
	position: relative;
	min-height:  495px;
	padding-top: 280px;
}

.production-slider input {
	display: none;
}

.slider-controls {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	position: absolute;
	bottom: 24px;
	width: 80px;	
		
}

.slider-controls label {
	width: 21px;
	height: 21px;
	cursor: pointer;
	background: none;
	border-radius: 50%;
	margin-right: 8px;
	border: 2px solid #ffffff;
}

.slider-controls label:last-child {
	margin-right: 0px;
}

.production-item {
	display: none;
}

#btn-1:checked~.site-wrapper label[for="btn-1"],
#btn-2:checked~.site-wrapper label[for="btn-2"],
#btn-3:checked~.site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}

.site-wrapper {
	min-width: 940px;
  	background-color: #849d8f;
  	background-image: url("../img/slider-1.png");
  	background-repeat: no-repeat;
  	background-position: top center;
}

#btn-1:checked ~.site-wrapper #slide1,
#btn-2:checked ~.site-wrapper #slide2,
#btn-3:checked ~.site-wrapper #slide3 {
	display: block;	
}

#btn-1:checked ~ .site-wrapper {
	background-image: url("../img/slider-1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-image: url("../img/slider-3.png");
}

.production-list {	
	list-style: none;
	padding: 0;	
	margin: 0;
}

.production-order a {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: #ffffff;
	display: inline-block;
	padding: 12px 50px;
	border-radius: 30px;
}

.production-order {
	text-align: center;
	margin: 0;
}


.production-offer {
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 700;
	margin: 0 auto;
	width: 680px;
	margin-bottom: 38px;

	border: 1px solid red;
}

.promo-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 37px;
	padding-bottom: 40px;
}

.promo-list a {
	color: #ffffff;
}

.promo-item {
	border: 1px solid yellow;
	width: 560px;
	border-radius: 12px;
}

.promo-item-raspberry {
	background-image: url("../img/crimson-background.jpg");
	background-repeat: no-repeat;
	background-position: -27px -95px;
}

.promo-item-chocolate {
	background-image: url("../img/chocolate-background.jpg");
	background-repeat: no-repeat;
	background-position: -220px -102px;
}

.promo-item {
	padding: 21px 20px;
}



.promo-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 21px;
}

.promo-terms {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 46px;
}

.promo-order {
	margin: 0;
	text-align: right;
}

.promo-order a {
	display: inline-block;
	padding: 13px 22px;
}

.filter {
	display: flex;

}

.filter form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 879px;
}


.filter fieldset {	
	border: none;
}

.filter-item-sorting {
	position: relative;
}

.filter-item-sorting label {
	font-size: 14px;
	line-height: 16px;
}

.filter-item-sorting select {	
	-moz-appearance: none;
  	-webkit-appearance: none;
  	appearance: none;
  	cursor: pointer;
  	width: 100%;
  	padding: 12px 24px 8px 14px;
  	display: block;  	
  	background-color: rgba(255, 255, 255, 0.2);
  	color: #ffffff;
  	border-radius: 25px;
  	border: none;
  	font-size: 16px;
  	line-height: 18px;
  	font-weight: 500;  	
}

.filter-item-sorting select option {
	background: rgba(255, 255, 255, 0.7);
	color: #000000;
}

.filter-item-sorting select::-ms-expand {
	display: none;
}


.filter-item-sorting label::before {	
	content: "";
	position: absolute;	
	top: 39px;
	right: 14px;
    border: 10px solid #ffffff;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    cursor: pointer;
    z-index: -10;
}

.filter-apply {
	margin: 0;
}

.filter-apply-button {		
	padding: 7px 28px;
	border: 2px solid #fcfcfc;
	border-radius: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fcfcfc;	
	margin-top: 20px;
}

.filter-item input {
	display: inline-block;
}


.filter-item {
	list-style: none;
	border: 1px solid red;
}

.filter-item-price {
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 6px;
}

.filter-item-description {
	font-size: 14px;
	line-height: 16px;
	padding-bottom: 6px;
}

.filter-item-sorting label {
	padding: 0;
	margin: 0;
	padding-left: 16px;
}


.filter-item-container {
	list-style: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.filter-item-radio {
	display: flex;
	padding: 0;
	margin: 0;	
	padding: 7px 14px;
	background-color: rgba(238, 242, 240, 0.2);
	border-radius: 20px;	
}

.filter-item-radio li {
	position: relative;
	padding-left: 32px;
	padding-right: 18px;
}

/*.filter-item-radio label:before {
	content: "";
	position: absolute;	
	left: 0;
	width: 23px;
	height: 23px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 10px;
	color: #ffffff;
}*/


/*[type="radio"]:checked~label::before {
	background-image: url("../img/radio-on.svg");
}*/


.filter-item-radio li svg {	
	position: absolute;	
	left: 0;
	fill: #ffffff;
	opacity: 0.8;
}

.filter-radio-on {
	display: none;
}

[type="radio"]:checked~ svg .filter-radio-on {
	display: block;
}

.filter-item-checkbox {
	display: flex;
	justify-content: space-between;
	padding: 8px 19px 8px 16px;
	margin: 0;
	min-width: 702px;
}

.filter-item-checkbox li {
	position: relative;
	padding-left: 32px;
}

.filter-item-checkbox li svg {
	position: absolute;
	left: 0;
	fill: #ffffff;
	opacity: 0.8;
}

.filter-checkbox-on {
	display: none;
}

[type="checkbox"]:checked~ .filter-checkbox-on {
	display: block;
}

[type="checkbox"]:checked~ .filter-checkbox-off {
	display: none;
}

/*.filter-item-checkbox li svg {	
	position: absolute;	
	left: 0;
	fill: #ffffff;	
}*/

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;	
	padding-bottom: 37px;
	padding-top: 37px;
}

.catalog-list a {
	color: #ffffff;
}

.catalog-item {
	width: 267px;
	position: relative;
	

	border: 1px solid red;
}

.catalog-item:nth-child(-n+8) {
	margin-bottom: 37px;
}

.catalog-item .hit::after  {
	content: "";
	display: block;
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url("../img/icon-hit.svg");
	top: 0px;
	left: 0px;
}

.catalog-item:hover::after {
	content: "";
	display: block;
	position: absolute;
	left: -13px;
	right: -13px;
	top: -8px;
	bottom: -83px;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 10;
	border-radius: 5px;
}

.catalog-item:hover .catalog-qwickview {
	display: block;
	position: absolute;
	bottom: -62px;	
	left: 31px;
	right: 31px;
	z-index: 20;
}


.catalog-image {
	margin: 0;
	margin-bottom: 16px;
}

.catalog-image img {
	width: 267px;
	height: 267px;
	border-radius: 50%;
	/*vertical-align: top;
	max-width: 100%;*/
}

.catalog-image a {
	display: block;
}

.catalog-price {
	position: absolute;
	top: 215px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	margin: 0;
}

.catalog-description {
	margin: 0;
	text-align: center;
	text-decoration: underline;
}

.catalog-qwickview {
	margin: 0;
	display: none;
}

.catalog-qwickview a {
	display: block;
	padding: 11px 17px;
}

.about-us {
	padding: 27px 20px;
	border: 1px solid red;
	background-image: url("../img/filing.jpg");
	border-radius: 15px;
	margin-bottom: 36px;	
}

.about-us ul {
	list-style: none;	
}

.about-us-list li {
	padding-top: 16px;
	padding-left: 57px;
}

.about-us-production {
	margin-bottom: 8px;
	order: 1;
	position: relative;
}

.about-us-production::before {
	content: "";
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("../img/icon-icecream.svg");
	background-repeat: no-repeat;	
	/*margin-right: 8px;
	float: left;
	bottom: 12px;*/
	top: 0;
	left: 0;
}

.about-us-materials {
	order: 3;
	position: relative;
}

.about-us-materials::before {
	content: "";
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("../img/icon-leaf.svg");
	background-repeat: no-repeat;	
	/*margin-right: 8px;
	float: left;
	margin-bottom: 29px;*/
	top: 0;
	left: 0;
}

.about-us-purchasing {
	order: 2;	
	position: relative;
}

.about-us-purchasing::before {
	content: "";
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("../img/icon-cow.svg");
	background-repeat: no-repeat;	
	/*margin-right: 8px;
	float: left;*/
	top: 0;
	left: 0;
	
}

.about-us-delivery {
	order: 4;
	position: relative;
}

.about-us-delivery::before {
	content: "";
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url("../img/icon-thermometer.svg");
	background-repeat: no-repeat;	
	/*margin-right: 8px;
	float: left;*/
	top: 0;
	left: 0;
}

.about-us-title {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	margin: 0;
	margin-bottom: 23px;
}

.about-us-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
	margin: 0;
	padding: 0;
}

.about-us-list li {
	width: 540px;
}

.news-section-wrapper {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

.blog {
	width: 560px;
	border-radius: 10px;
	background-image: url("../img/strawberry-background.jpg");
	background-position: -27px -224px;
	padding: 25px 20px;	
	height: 220px;

	border: 1px solid red;
}

.blog-title {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	margin: 0;
	margin-bottom: 13px;

}

.blog-description {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: underline;
	width: 300px;
	margin: 0;
}

.blog-description a {
	color: #323232;
}


.newsletters {
	width: 560px;
	border-radius: 10px;
	background-color: #f8f7f4;
	padding: 30px 21px 34px;

	border: 1px solid red;
}

.newsletters-description {	
	font-weight: 400;
	color: #5a5a5a;
}

.newsletters input {
	padding: 11px 18px;
	width: 100%;
	margin-right: 11px;
}

.newsletters button {
	padding: 11px 20px;
	border: none;
}

.contacts {
	position: relative;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
	padding-top: 62px;
	padding-bottom: 62px;	
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

.contacts-info {
	padding: 30px 25px;
	width: 320px;
	min-height: 308px;
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	margin-left: auto;
	border-radius: 10px;
}

.contacts-address {	
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

.contacts-address-title {
	margin: 0;
	margin-bottom: 23px;
}

.contacts-phone {
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.contacts-phone-title {
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	margin-bottom: 24px;
}

.contacts-phone a {
	color: #323232;
}

.feedback {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	margin: 0;	
}

.feedback a {
	display: block;
	padding: 11px 27px;
	border-radius: 20px;
	color: #fefefe;
}

.main-footer a {
	color: #ffffff;
}

.footer-social {
	list-style: none;
}

.social-button {
	display: flex;
}

.social-button {
	border-width: 3px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.additional-information {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	list-style: none;
	position: relative;
}

.additional-information-suppliers {
	font-weight: 700;
}

.additional-information-suppliers::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../img/icon-heart.svg);
	background-repeat: no-repeat;
	position: absolute;
	left: -20px;
}

.button	{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;	
}

.pagination-item {
	margin-right: 4px;
}

.pagination-item:last-child {
	padding-right: 0;
}

/*.pagination-item:first-child::before {
	content: "";
	display: inline-block;
	width: 9px;
	height: 16px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	transform: rotate(180deg);
	position: relative;
	top: 0;
	right: 0;	
}

.pagination-item:last-child::after {
	content: "";
	display: inline-block;
	width: 9px;
	height: 16px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;	
	position: relative;
	top: 0;
	left: 0;
}*/

.pagination-item a {
	display: block;	
	color: #ffffff;
	padding: 4px 5px;
	min-width: 26px;
	line-height: 18px;
	text-align: center;
}	

.pagination-item a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;		
}

.pagination-item-current a {
	background-color: #ffffff;
	color: #323232;
	border-radius: 50%;
}

.pagination-item-current a:hover {
	background-color: #ffffff;
	color: #323232;
	border-radius: 50%;
}

a.previous {
	/*display: inline-block;
	position: relative;
	top: 6px;*/
	font-size: 0;
	line-height: 1;
	/*padding: 0;
	margin-right: 16px;*/
}

.previous::before {
	content: "";
	display: block;
	width: 9px;
	height: 16px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transform: rotate(180deg);		
}

a.previous:hover {
	background-color: transparent;
}

a.next {
	/*display: inline-block;
	position: relative;
	top: 9px;*/
	font-size: 0;
	line-height: 1;
	/*padding: 0;
	margin-left: 16px;*/
}

.next::before {
	content: "";
	display: block;
	width: 9px;
	height: 16px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

a.next:hover {
	background-color: transparent;
}



/*.pagination-item .previous {
	font-size: 0;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	transform: rotate(180deg);
	background-position: 5px 11px ;
}

.pagination-item .next {
	font-size: 0;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;	
	background-position: 5px 11px;
	color: #ffffff;
}
*/
/*.pagination-item .previous:hover,
.pagination-item .next:hover {
	background-color: transparent;
}*/

.cart {
	position: relative;
}

.cart-status {	
	margin: 0;		
	line-height: 16px;
	font-size: 14px;	
	background-color: #f7f6f3;
	border-radius: 18px;
	color: #323232;
	cursor: pointer;	
	height: 32px;
	width: 117px;
	padding-left: 20px;
}

.cart-status::before {
	content: "";
	display: inline-block;
	top: 6px;
	left: -8px;
	position: relative;	
	width: 21px;
	height: 21px;	
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;	
}

.form-cart {
	display: none;
}

.form-email {
	display: flex;
}

.cart:hover .form-cart {
	display: block;	
	background-color: #f8f7f4;
	color: #323232;
	width: 540px;
	border-radius: 5px;
}

.cart-style {
	position: absolute;
	right: 0px;
	top: 100%;
	padding-top: 5px;
}

.form-cart table {
	border-bottom: 1px solid #cacac7;
}

.form-cart {
	padding-left: 16px;
	padding-right: 16px;
}

.cart-product-cancel {
	border: 0;
	background: none;
	padding: 0;
}

.cart-product-cancel::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-image: url(../img/icon-cancel.svg);
	border: none;
	border-radius: 5px;
}

.cart-product-image img {
	border-radius: 50%;
}

.cart-product-item {
	line-height: 16px;
	font-size: 13px;
	font-weight: 400px;
}

.cart-product-item figure {
	margin: 0;
}

.cart-product-list {
	margin-bottom: 16px;
}

.cart-order {
	text-align: right;
	font-size: 15px;
	line-height: 18px;
	margin: 0;
	margin-bottom: 16px;
}


.cart-order-confirm  {
	text-align: right;
	margin: 0;
	padding-bottom: 20px;
}


.cart-order-confirm a {
	padding: 10px 15px;
	display: inline-block;	
}

.main-footer {
	padding: 20px 0px 25px; 
}

.main-footer .container {
	display: flex;
	align-items: center;	
}

.footer-social {
	display: flex;
	margin: 0;
	padding: 0;
	align-items: center;
	width: 293px;
}

.footer-social li:not(:last-child) {
	padding-right: 11px;
}

.additional-information {
	display: flex;	
	flex-wrap: wrap;
	width: 340px;
	margin: 0;
	padding: 0;
	align-items: left;
	justify-content: flex-start;
}

.additional-information li {
	width: 50%;
	text-decoration: underline;
}

.additional-information-wrapper {
	width: 560px;
	padding-top: 16px;
	display: flex;
	justify-content: center;
}

.site-developer p {
	line-height: 18px;
	font-size: 12px;
	font-weight: 400px;
	margin: 0;
	padding-left: 8px;
}

.site-developer {
	margin-left: auto;	
}

.developer-logo  {
	object-fit: cover;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	padding-bottom: 7px;
}

.breadcrumbs li:not(:last-child) {
	margin-right: 23px;
}

.breadcrumbs {
	font-size: 14px;
	line-height: 16px;
	list-style: none;
}

.breadcrumbs a {
	color: #ffffff;
}


.site-section-description {
	line-height: 41px;
	font-size: 35px;	
	margin: 0;
	padding-bottom: 30px;
}


.filter form {
	height: 132px;
	width: 879px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	padding-right: 19px;
}

.filter-item-price {
	margin: 0;
	padding-left: 15px;
}

.filter-item-description {
	margin: 0;
	padding-left: 15px;
}

.filter-item-price input {
	border: none;
	background-color: inherit;
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	padding: 0;
	-moz-appearance: textfield;
	width: 26px;
}

::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.range-controls {
  height: 36px;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 21px;
  background-color: rgba(252, 252, 252, 0.2);
  position: relative;
  
  border-radius: 20px;
}

.range-controls .scale {
  height: 5px;
  width: 176px;

  background-color: rgba(252, 252, 252, 0.5);
}

.range-controls .bar {
	width: 78px;
	height: 5px;
	position: relative;
	left: 33px;

	background-color: rgba(252, 252, 252, 1);

}

.range-controls .toggle {
	position: absolute;
	top: 8px;
	left: 0;
	width: 20px;
  	height: 20px;
  	padding: 0;

  	border: 8px solid #ffffff;  
  	background-color: #ababab;
  	border-radius: 50%; 
  	cursor: pointer;
}

.range-controls .toggle-min {
	left: 34px;
}

.range-controls .toggle-max {
	left: 132px;
}